extends layout

block content


  section(class="top-logo-section")
   div(class="logo")
     img(src="images/logo.png")
   div(class="addresstext")
      p 
       a(href="#") г. Москва
      p Random street
      p 28, 140
   div(class="phonetext")
     div(class="bordered")
      p ТЕЛ.
      p 
       strong +7 123-456-78-90
      p 
       strong +7 123 456-78-90
   div(class="buttontop")
      button(class="btn") 
       i(class="fa fa-pencil fa-fw")
       |Заявка на стенд

	    


  nav(class="navigation" id="myNav")
   a(href="#" class="active") О Компании 
   a(href="#") Вакансии
   a(href="#") Контакты
   a(href="#") Клиенты
   a(href="javascript:void(0);" class="icon" onclick="myFunction()")
    icon(class="fa fa-bars")

	
	
	
  section(class="topimage")
    div(class="topimgtext")
     h1 ЭКСПОЦЕНТР
     p Test text 
      
  
  section(class="blue-section")
    


    div(class="text-row")
        div(class="text-vario")
         h1 VARIO-EXPO systems
        div(class="text-vario-rus")
         h3 - ИНДИВИДУАЛЬНОЕ СТРОИТЕЛЬСТВО ВЫСТАВОЧНЫХ СТЕНДОВ.
		 
    div(class="container-text-top")

     article(class="paragraph1")
      p(class="line") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     article(class="paragraph2")
      p(class="line") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

  section(class="services")
    div(class="servicebox")
     img(src="https://img.icons8.com/plasticine/100/000000/design.png")
     h1 ПРОЕКТИРОВАНИЕ
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

    div(class="servicebox")
     img(src="https://img.icons8.com/plasticine/100/000000/design.png")
     h1 СТРОИТЕЛЬСТВО
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

    div(class="servicebox")
     img(src="https://img.icons8.com/plasticine/100/000000/design.png")
     h1 АРЕНДА
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt


  section(class="images")
  
       div(class="imagebox")
          img(src="images/test.jpg" class="images-img")
          button(class="btn") A+B Collection

       div(class="imagebox")
          img(src="images/test.jpg" class="images-img")
          button(class="btn") Division Group

       div(class="imagebox")
          img(src="images/test.jpg" class="images-img")
          button(class="btn") Cork Centre
       div(class="imagebox")
           img(src="images/test.jpg" class="images-img")
           button(class="btn") ForMyDogs

  section(class="bottom-section")
  
     div(class="clients")
       div(class="text-row")
        div(class="text1")
         h1 Наши Клиенты
        div(class="text_link")
         a(href='#') Показать всех
		
       div(class="img-row") 
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
        img(src="images/test.jpg" )
       
	   
     div(class="news")
       h1 Новости
	   
       div(class='line')
	   
        p
         a(href='#') Заголовок новости
         time( class="posttime" pubdate datetime="") 01.11.2015
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		
       div(class='line')
        p
         a(href='#') Заголовок новости
         time( class="posttime" pubdate datetime="") 13.10.2015

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		
       div(class='line')
        p
         a(href='#') Заголовок новости
         time( class="posttime" pubdate datetime="") 10.11.2015

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

